/*
============================================
; Title: NodeQuiz
; Author: Don Cousar
; Date: 20 October 2019
; Description: MEAN Stack Node Quiz Project
;===========================================
*/
.wrongAnswer{
    border-style: groove;
    border-color: red;
}

.rightAnswer{
    border-style: groove;
    border-color: green;
}