<!--
============================================
; Title: NodeQuiz
; Author: Don Cousar
; Date: 03 October 2019
; Description: MEAN Stack Node Quiz Project
;===========================================
-->
<h1 mat-dialog-title>Node Quiz</h1>
<div mat-dialog-content>
  <h2>Quiz Results</h2>
  <h3>Quiz Score: </h3>
  <h3>Missed Question: </h3>
  <p>You answered: </p>
  <p>Correct answer: </p>
  <!--
  <mat-form-field>
    <input matInput [(ngModel)]="">
  </mat-form-field>
  -->
</div>
<div mat-dialog-actions>
  <button mat-button [mat-dialog-close]="" cdkFocusInitial>Ok</button>

</div>
