<!--
============================================
; Title: NodeQuiz
; Author: Don Cousar
; Date: 03 October 2019
; Description: MEAN Stack Node Quiz Project
;===========================================
-->
<h1 mat-dialog-title>Node Quiz</h1>
<div mat-dialog-content>
    <h3>Quiz Score: {{quizScore}}</h3>
    <h2>The following questions were answer incorrectly</h2> 
    
    <div *ngFor="let item of myQuestions.question">
        <p><b>Question {{item.question}}</b></p>
        <p class="wrongAnswer"> You Answered: {{item.selectedAnswer}}</p>
        <p class="rightAnswer">The Correct Answer: {{item.correctAnswers}}</p>
        <hr />
    </div>

<div mat-dialog-actions>
  <button mat-button [mat-dialog-close]="" cdkFocusInitial>Ok</button>
</div>
